<amb-title>
  <button mat-flat-button color="accent" (click)="openForm()">
    <mat-icon>add</mat-icon>
    <span>Agregar</span>
  </button>
</amb-title>
<amb-container>
  <perfect-scrollbar class="heightMaxPerfectScrollBar">
    <cm-table [data]="data" [metaDataColumns]="metaDataColumns">
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" class="align-right">
          <button mat-icon-button color="primary" (click)="openForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="accent"
            matTooltip="ELIMINAR"
            (click)="delete(row.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    </cm-table>
  </perfect-scrollbar>
  <amb-paginator
    [totalRecords]="totalRecords"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    (onChangePage)="changePage($event)"
  ></amb-paginator>
</amb-container>
