.modal-form {
  width: 600px;
}

.modal-form mat-dialog-container {
  padding: 0;
}

.modal-form .mat-dialog-content {
  padding: 24px;
  margin: 0px;
}

@media screen and (max-width: 600px) {
  .modal-form {
    width: 400px;
  }
}
