<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side">
    <div class="logo">
      <h3>Sistema de Historias</h3>
      <ul>
        <li><a routerLink="/">Login</a></li>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/driver">Driver</a></li>
        <li><a routerLink="/history">History</a></li>
        <li><a routerLink="/medic">Medic</a></li>
        <li><a routerLink="/summary">Summary</a></li>
        <li><a routerLink="/user">User</a></li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <amb-header></amb-header>
    <router-outlet></router-outlet>
    <!-- <amb-page-login></amb-page-login> -->
  </mat-sidenav-content>
</mat-sidenav-container>
